/* box do usuário onde contem a imagem para clique do modal */
.box_user {
    width: 250px;
    height: 250px;
    z-index: 1;
}

.box_user_img {
    width: 100%;
    height: 100%;
}

.box_user img {
    width: 100%;
    height: 100%;
}

.box_dados_user {
    width: 150px;
    height: 250px;
}

.box_dados_user_ {
    display: flex;
    justify-content: flex-end;
}

.dados_user {
    margin-right: 30px;
}

/* span title do usuário */
.span_user, .span_user > a {
    font-size: 1.2em;
    color: greenyellow;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.span_user svg {
    font-size: 1.2em;
    padding-top: 2px;
}


/* css do modal */
.modal_open {
    opacity: 1;
}

.modal_close {
    display: none;
}

.container_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.945);
    z-index: 100;
}

.btn_close_modal {
    position: fixed;
    z-index: 2;
    color: red;
    font-size: 2em;
    cursor: pointer;
}

/* layout desktop */
@media (min-width: 802px) {
    
    /* modal para desktop */
    .btn_close_modal {
        left: 95%;
        top: 2%;
    }

    .box_modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .detalhes_modal {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .img_modal {
        width: 100%;
        height: 500px;
    }

    .img_modal img {
        width: 100%;
        height: 100%;
    }

    .informacoes_modal {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 100%;
        height: 40px;
    }

}

/* layout mobile */
@media (max-width: 799px) {
    /* modal para o mobile */
    .btn_close_modal {
        left: 90%;
        top: 2%;
    }

    .detalhes_modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 96%;
        display: flex;
        flex-direction: column;
    }

    .img_modal {
        width: 100%;
        height: 400px;
    }

    .img_modal img {
        width: 100%;
        height: 100%;
    }

    .informacoes_modal {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 100%;
        height: 40px;
    }


}