* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, #381b66 50%, white 10%, #6b56c5 40%);
    background-repeat: no-repeat;
    height: 100vh;
    
}

@media (min-width: 800px) {
    body {
        background-size: 100%;
    }
}
