* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../../public/2641054.gif");
    background-repeat: no-repeat;
}

@media (min-width: 800px) {
    body {
        background-size: 100%;
    }
}
