/* index vai ser o layuot da page layout.js */
.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*banner da page */
.banner {
    text-align: center;
    margin: 100px 0px 100px 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.banner p {
    color: greenyellow;
    font-size: 1.2em;
}

/* span de titulos do slide */
.span_title {
    font-size: 2em;
    font-weight: bolder;
    color: greenyellow;
    margin-left: 50px;
}

.p {
    padding-top: 5px;
    padding-right: 10px;
    font-size: 1em;
    color: greenyellow;
    margin-left: 50px;
}

/* slide dos produtos cadastrados */
.container_home {
    margin-left: 30px;
    margin-right: 30px;
    gap: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

.container_slide {
   display: flex;
   overflow-y: scroll;
   padding-bottom: 20px;
   white-space: nowrap;
   gap: 20px;
}

/* layout desktop */
@media (min-width: 800px) {
    
    .index {
        gap: 80px;
    }

}

/* efeito loading enquanto o banco de dados não responde */
.loading {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 50px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: rgb(0, 255, 0);
    animation: spin 0.5s infinite linear;
  }

  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  

  /* layout mobile */

  @media (max-width: 400px) {
    
    /* imagem do banner */
    .banner img {
        width: 100%;
    }

  }