/* css gerais  */
.header {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
}

.header a {
    color: white;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: black;
}


/*  modo desktop */
@media (min-width: 600px) {

    .header ul {
        display: flex;
        gap: 20px;
    }

    .header li {
        list-style: none;
        text-decoration: none;
    }

    .btn_menu_mobile {
        display: none;
    }

    .menu_mobile {
        display: none;
    }
}


/* modo mobile */
@media (max-width: 602px) {
    
    .header ul {
        display: none;
    }

    /* abrir e fechar o menu mobile */
    .menu_ativado {
        opacity: 1;
    }

    .menu_desativado {
        display: none;
    }

    /* tamanho e cor dos botões que abre e fecha o menu mobile */
    .btn_menu_mobile svg {
        font-size: 2em;
    }

    .btn_close_menu, .btn_open_menu {
        color: red;
    }

    /* div do menu mobile */
    .menu_mobile {
        position: absolute;
        z-index: 12;
        height: 89%;
        width: 100%;
        top: 11%;
        background-color: black;
        text-align: center;
        transition: 1s;
    }

    .menu_mobile ul {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
    }

    .menu_mobile a {
        color: white;
    }


}